fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib
argon2-cffi
requests
python-multipart
pydantic
pydantic[email]
pydantic-settings
python-dotenv
alembic
pytest
pytest-asyncio
pytest-cov
httpx
websockets
greenlet
aiosqlite
